{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block nav%}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Register</h1>

    <form method="post">
        <div class="mb-2 input-group">
            <input type="text" class="form-control me-2" placeholder="First Name" name="first_name">
            <input type="text" class="form-control" placeholder="Last Name" name="last_name">
        </div>
        <div class="mb-2">
            <input type="email" class="form-control" placeholder="Email" name="email">
        </div>
        <div class="mb-2">
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="mb-2">
            <p>Already have an account? <a href="{{url_for('auth.login')}}">Login</a></p>
        </div>
    </form>
</div>
{% endblock %}
