{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block nav%}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>

    <form>
        <div class="mb-2 input-group">
            <input type="text" class="form-control me-2" placeholder="First Name">
            <input type="text" class="form-control" placeholder="Last Name">
        </div>
        <div class="mb-2">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-2">
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="mb-2">
            <p>Already have an account? <a href="{{url_for('auth.login')}}">Login</a></p>
        </div>
    </form>
</div>
{% endblock %}
