<!DOCTYPE html>
<html lang="en">
<head>
    {% include "includes/_head.html" %}
</head>
<body>

<div class="container text-center">
    <h1 class="display-1 text-center">Manage Incomes</h1>

    <a class="btn btn-dark m-2">Add New</a>

    <table class="table table-striped">
        <thead class="text-center">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Amount</td>
            <td colspan="2">Options</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Paycheck</td>
            <td>2000.00</td>
            <td><a class="btn btn-dark">Edit</a></td>
            <td><a class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>

</div>
{% include "includes/_footer.html" %}
</body>
</html>