<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Budget App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Incomes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/incomes/add">Add New</a></li>
                        <li><a class="dropdown-item" href="/incomes/manage">Manage Existing</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Outgoings
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/outgoings/add">Add New</a></li>
                        <li><a class="dropdown-item" href="/outgoings/manage">Manage Existing</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Savings and Investments
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/savings-and-investments/add">Add New</a></li>
                        <li><a class="dropdown-item" href="/savings-and-investments/manage">Manage Existing</a></li>
                    </ul>
                </li>
            </ul>
            v1.0.0a
        </div>
    </div>
</nav>